body {
    background-image: url("images/bg-pattern-desktop.svg");
    background-size: ;
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 16px;
    color: #ce9797;
    text-align: center;
}

.hero-pic {
    width: 100%;
    margin-bottom: 16%;
}

.main-title {
    font-size: 3em;
    margin: 0 auto;
    letter-spacing: 0.2em;
    font-weight: 300;
    line-height: 1;
}

.description {
    width: 90%;
    margin: 4% 0 9% 5%;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .inner-form {
      display: flex;
      justify-content: flex-end;
      position: relative;
  }

  .email-form {
      width: 310px;
      height: 50px;
      border-radius: 30px;
      padding-left: 25px;
  }

  .send-button {
      width: 70px;
      height: 50px;
      display: flex;
      position: absolute;
      border-radius: 30px;
  }