body {
    background-color:#e0e8ff;
    background-image: url("images/pattern-background-desktop.svg");
    background-size: 140%;
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    display: grid;
    place-items: center;
}

.main-div {
    width: 30%;
    height: 650px;
    margin-bottom: 5%;
    text-align: center;
    background-color: white;
    border-radius: 5%;
    overflow: hidden; /* This makes also the top of the div rounded */
    margin-top: 5%;
}

img {
    max-width: 100%;
    padding-bottom: 5%;
}

.main-title {
    font-size: 1.7em;
    font-weight: 900;
    margin-bottom: 0;
}

.description-container {
    width: 70%;
    margin: 0 auto;
}

.main-description {
    display: inline-block;
    opacity: 0.6;
}

.plan-price-container {
    border-radius: 5%;
    background-color: #f8f9fe;
    width: 70%;
    margin: 0 auto;
    padding: 5%;
    display: flex;
    white-space: nowrap;
}

.plan-price-container-text {
    display: table-cell;
    vertical-align: middle;
}

.music-icon {
    padding: 0;
    margin: 0 15px 0 0;
    float: left;
    display: block;
}

.plan-title {
    margin: 0;
    font-weight: 900;
}

.plan-price {
    margin: 0;
    opacity: 0.6;
}

.change-link {
    margin: 4% 0 0 30%;
    font-size: 0.9em;
    color: #372ab3;
    font-weight: 900;
}

.payment-button {
    display: block;
    margin: 8% auto;
    width: 330px;
    height: 48px;
    border-radius: 10px;
    background-color: #382adf;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    box-shadow: 5px 20px 50px -15px black;
}

.payment-button:hover {
    background-color: #d6e1ff;
    color: #382adf;
    transition: 0.3s;
    cursor: pointer;
}

.cancel-button {
    font-weight: bold;
    font-size: 0.9em;
    color: #757473;
    text-decoration: none;
}